* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;
}

header, main, footer{
    width: 100%;
}

.container-color{
    background: #B4D0E7;
    /* probabile impostazione, position: relative; */
}

.comtainer-footer-color{
    background: #000000;
}

.container-large {
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    /* padding: 2em 1em; */  /* momentaneamente disattivati */
}

.container-small {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    /* padding: 2em 1em; */ /* momentaneamente disattivati */
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    /* valutare se inserire GAP al posto di space-between */
    align-items: center;
}

.nav-button{
    padding: .5rem 1rem;
}

.background-blue{
    background: #0061FF;
}

.header-center{
    display: flex;
}

.header-center img{
    width: 785px;
}

.header-row-left{
    flex-basis: 60%; /* forse necessita di una min-width perchè tanto testo deforma la dimensione della colonna */
}

.main-business-select{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-col-business{
    flex-basis: calc((100% - 2rem) / 3);
}

.container-img-text{
    display: flex;
}

.dropbox-info{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.dropbox-info-col{
    flex-basis: calc((100% - 2rem) / 3);
}

.dropbox-info-subtext{
    display: flex;
}

.dpbox-free{
    display: flex;
}

.footer-links{
    display: flex;
    flex-wrap: wrap; /* forse in questo caso non serve */
}

.footer-links-col{
    flex-basis: calc(100% / 5);
}