* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /*border: 1px solid;*/
}

main{
    min-height: 8000px;
}

header{
    padding-bottom: 10rem;
}

button{                        
    background-color: transparent;    
    cursor: grab;
    border-style: none;
    padding: .3rem .8rem;
}

.container-color{
    background: #B4D0E7;
}

.comtainer-footer-color{
    background: #000000;
}

.container-large {
    max-width: 1100px;
    min-width: 300px;
    margin: 0 auto;
    /* padding: 2em 1em; */  /* momentaneamente disattivati */
}

.container-small {
    max-width: 940px;
    min-width: 300px;
    margin: 0 auto;
    /* padding: 2em 1em; */ /* momentaneamente disattivati */
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    /* position: fixed;  /* problemi con position fixed */
    background: white;
    width: 100%;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button{
    padding: .5rem .3rem;
}

.background-blue button{
    background: #0061FF;
}

.btn-color button{
    color: white;
}

.header-center{
    position: relative;
    top: 90px;
}

.header-center-row{
    display: flex;
}

.header-center-row img{
    width: 785px;
}

.header-center-title h1{
    font-size: 80px;
}

.header-center-title{
    padding-bottom: 40px;
}

.header-center-button button{
    padding: .7rem .9rem;
    font-size: 15px;
}

.header-center-button{
    padding: 1.5rem 0;
}

.header-col-left{
    flex-basis: 60%; 
}

.small-size{
    font-size: 15px;
}

/* css proprietà delle tabelle e colonne */
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.col{
    flex-grow:1;
    flex-basis: calc((940px / 3) - 2.5rem); /* importante */
}

.card{
    border: 1px solid lightgrey;
}

.card-padding{
    padding: 2rem 2rem;
}
/* end css tab e col */

.logo{
    padding-right: 1rem;
} 

.logo img{               
    vertical-align: bottom;
    width: 115px;
}

.dwn-symb i{
    padding-top: 4rem;
    font-size: 3rem;
}


/* css utile al main */
.main-business-title h2{
    font-size: 35px;
    padding-bottom: 3rem;
}

.billing-select input{
    vertical-align: middle;
    width: 1rem;
}

.billing-select div{
    display: inline-block;
    padding: 0 3rem 0 0;
}

/* attributi tabella a 4 colonne */
.group{
    border-bottom: 1px solid lightgrey; /* importante */
    text-align: center;
    padding: .5rem;
}

.size-hr hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40px;
    color: #C1C1C1;
}

.points{
    font-weight: 600;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.type{
    font-size: 19px;
    padding-bottom: 1rem;
}

.price{
    font-weight: 600;
    padding-bottom: .5rem;
}

.period{
    padding-bottom: 3rem;
}

.details{
    display: flex;
}

.details i{
    padding-right: 5px;
}

.details div{
    padding-bottom: 1rem;
}

.row i{
    font-size: 13px;
}

.row hr{
    width: 40px;
    color: lightgrey;
}

.width-text{
    width: 193px;
}

.btn-size{
    width: 220px;
    padding: .7rem;
}

.table-button{
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    position: relative;
}

.btn-pos button{
    position: absolute;
    bottom: 1.5rem;
    left: 8.5rem;
}

.sub-dist{
    padding-top: 2rem;
}

.sub-btn a{
    font-size: 13px;
}

.sub-btn{
    padding-bottom: 2.5rem;
}

.sub-table{
    display: flex;
}

.sub-width{
    width: 527px;
}
/* end css utile per le colonne e per la prima tabella*/

/* css seconda parte del main */
.img-dim{
    width: 550px;
}

.sub-title{
    font-size: 19px;
    padding-bottom: 1rem;
}

.sub-card-padding{
    padding: 3rem 2rem;
}

.sub-txt{
    font-size: 17px;
    padding-bottom: 2rem;
}

.sub-btnn{
    border: 1px solid black;
    width: 135px;
    padding: .3rem;
    text-align: center;
}

.pd-tb{
    padding: 9rem 0;
}

/* css seconda tabella del main a tre colonne e due righe (6 card) */
.img-dim-sub img{
    width: 280px;
}